/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-page-content .uabb-module-content a:hover,
.fl-page-content .fl-rich-text a:hover {
  color: #bf1515 !important;
}
header ul.storename {
  margin: 0;
}
.row.product-row .product-grid.btn-grey > .fl-button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button,
.product-detail-layout-6 .dual-button a,
div#mm-product-details .product-detail-layout-6.instock-with-form .product_detail_wrap .button-wrapper a{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  min-height: 45px;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent!important;
  border: 1px solid #000;
  background: transparent;
  color: #000!important;
}
.row.product-row .product-grid.btn-grey > .fl-button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover,
.product-detail-layout-6 .dual-button a:hover,
div#mm-product-details .product-detail-layout-6.instock-with-form .product_detail_wrap .button-wrapper a:hover{
  background-color: #d92f32 !important;
  color: #fff !important;
  border-color: #d92f32 !important;
}
#breadcrumbs a {
  color: #d92f32;
}
.homeSlider .bx-viewport {
  height: 500px;
}
.display_none {
  display: none;
}
h1.googlekeyword {
  font-family: Shadows Into Light, cursive;
  font-weight: 400;
  font-size: 55px;
  color: #fff;
  text-align: center;
}
.gform_legacy_markup_wrapper .gfield_time_hour,
.gform_legacy_markup_wrapper .gfield_time_minute {
  flex-wrap: wrap;
}
input#input_24_8_1,
input#input_24_8_2,
.gform_legacy_markup_wrapper .gfield_time_hour input,
.gform_legacy_markup_wrapper .gfield_time_minute input,
.ginput_container.ginput_container_time,
.gfield_time_minute {
  text-align: center;
}
select#input_24_8_3,
.gfield_time_ampm.ginput_container.ginput_container_time {
  max-height: 50px;
}
.gform_legacy_markup_wrapper .gfield_time_hour i {
  margin-top: 0 !important;
  position: absolute;
  bottom: 9px;
  right: 0;
}
div#input_24_8 {
  position: relative;
}
#label_30_7_1 {
  color: #fff;
}
#label_30_7_1 a {
  color: #d92f32;
}
#menu-main-menu-1 > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

header .uabb-creative-menu .uabb-has-submenu-container > a > span:after {
  content: "\f078";
  font-family: FontAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: top;
  margin: 0px 0 0 5px;
  font-weight: 400;
  float: right;
}
.fl-slide-text-left .fl-slide-content-wrap {
  width: 100% !important;
}
.gform_wrapper ul.gform_fields .gfield_time_ampm select {
  padding-left: 3px !important;
  padding-right: 0px !important;
}
.gform_wrapper .gfield_checkbox li label {
  width: 100% !important;
  max-width: 100% !important;
  margin-top: 10px;
  display: block;
}
.fl-node-5cf8260fd1313 .uabb-gf-style .gform_wrapper .gfield_checkbox li label {
  margin-top: 10px !important;
}
.storename .direction a {
  color: #d92f32 !important;
  font-family: Shadows Into Light, cursive;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  width: 220px;
  min-height: 45px;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #d92f32;
  border: 1px solid #d92f32;
  background: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.fl-page-bar-text-1 {
  display: flex !important;
  align-items: center;
}
.fl-page-bar-text-1 .storename {
  margin-bottom: 0;
  margin-left: 20px;
}

.storename .direction a:hover {
  background: #d92f32;
}

.storename .direction a span {
  color: #d92f32;
}

.storename .map-container iframe {
  min-height: 600px !important;
}

.fl-content-slider .fl-slide .fl-slide-text > p {
  margin: 0px !important;
  display: none !important;
}
.gform_wrapper .ginput_container_date .datepicker.medium {
  width: 100% !important;
}

.uabb-gf-style
  .gform_wrapper
  ul.gform_fields
  li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
  padding-right: 16px;
}

body.page-id-447275 a.fl-button *,
body.page-id-447275 a.fl-button:visited *,
body.page-id-447275 .fl-builder-content a.fl-button *,
body.page-id-447275 .fl-builder-content a.fl-button:visited * {
  color: #d92f32;
}

body.page-id-447275 a.fl-button,
body.page-id-447287 a.fl-button,
body.page-id-447275 a.fl-button:visited,
body.page-id-447287 a.fl-button:visited,
body.page-id-447275 .fl-builder-content a.fl-button,
body.page-id-447287 .fl-builder-content a.fl-button,
body.page-id-447275 .fl-builder-content a.fl-button:visited,
body.page-id-447287 .fl-builder-content a.fl-button:visited {
  border: 1px solid #d92f32;
}

.storename .direction a span {
  color: #d92f32 !important;
}

.storename .direction a:hover span {
  color: #fff !important;
}

#menu-main-menu-1 > li > a {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.fl-page-header-logo-col {
  width: 25%;
}

.fl-page-nav-col {
  width: 75%;
}
.mobile-only {
  display: none !important;
}
.fl-slide-content {
  padding: 0px !important;
}
.custombanneralert {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  line-height: 1em;
  background-color: #bf1515 !important;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #bf1515;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #bf1515;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 16px;
  color: #000;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

/* Customizer Header */

.desktop-view-header > * {
  display: inline-block;
}
.mobile-view-header {
  display: none;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #bf1515;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #767676 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Shadows Into Light",cursive !important;
  font-weight: 400 !important;
  letter-spacing: 1 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #767676 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #767676 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Shadows Into Light",cursive !important;
  font-weight: 400 !important;
  letter-spacing: 1 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #767676 !important;
}

@media (max-width: 992px) {
  .desktop-view-header {
    display: none;
  }
  .mobile-view-header {
    display: block;
  }
  .mobile-view-header .storename {
    margin-bottom: 0px;
  }
  .mobile-view-header .storename li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-view-header .storename li > * {
    max-width: 50%;
  }
  .mobile-view-header .address a,
  .mobile-view-header .phone a {
    padding-left: 15px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
  }
  .mobile-view-header .address a:before,
  .mobile-view-header .phone a:before {
    position: absolute;
    left: 0px;
  }
  .mobile-view-header .address a:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  .mobile-view-header .phone a:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
}

div#mm-product-details .product-detail-layout-6 .button-wrapper a{
	background: #d92f32 !important;
	border-color: #d92f32 !important;
}

div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover{
	background: #767676 !important;
	border-color: #767676 !important;
}

@media (min-width: 992px) {
    .product-detail-layout-6 .product-variations .slick-slider .slick-arrow {
        top: 25px !important;
    }
}

@media (min-width: 1024px) {
  .fl-slide.fl-slide-2 .fl-slide-content-wrap,
  .fl-slide.fl-slide-2 .fl-slide-content {
    width: 100%;
    margin: 0px;
  }

  .fl-content-slider .fl-content-slider-wrapper {
    min-height: 570px !important;
  }
  .fl-content-slider .fl-content-slider-wrapper .fl-slide {
    height: 100% !important;
  }
}
@media (max-width: 1024px) {
  .fl-node-5ce41c7b61a7a .uabb-creative-menu a {
    letter-spacing: 0px !important;
    padding: 10px 5px !important;
    font-size: 11px !important;
  }
  #menu-main-menu-1 > li > a {
    letter-spacing: 0px;
  }
  .fl-page-nav-right.fl-page-header-fixed
    .fl-page-nav-wrap
    .navbar-nav
    > li
    > a,
  .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a {
    padding: 10px;
  }
}

@media (max-width: 992px) {
  #main-menu-wrap {
    display: none !important;
  }
  .headerMain .fl-col.navMobile .fl-rich-text > p {
    text-align: right;
  }
  .searchIcon {
    position: static;
  }
}

@media (max-width: 992px) {
  .active-gallery-modal .product-box a.fl-button {
    margin: 0px auto;
  }
  .fl-page-nav-right .fl-page-header-logo {
    text-align: left !important;
  }
  .fl-page-header-logo-col {
    width: 100%;
  }
  .fl-page-header-logo-col .fl-page-header-logo a img {
    max-width: 100%;
  }
  .fl-page-nav-col {
    display: block !important;
  }
  .fl-page-header .fl-page-header-row {
    display: flex;
    align-items: center;
  }
  button#responsive-menu-button {
    top: 75px !important;
  }
  .fl-page-bar .fl-page-bar-row .text-left {
    display: none !important;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 100% !important;
    text-align: center;
  }
  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }
  /* 	#rmp_menu_trigger-1134789 {
		top: 65px!important;
	} */
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav
    .navbar-toggle {
    display: none !important;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse.collapse {
    display: block !important;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse
    ul.navbar-nav
    > li {
    display: none;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse
    ul.navbar-nav
    > li.mobile-only {
    display: block !important;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse
    ul.navbar-nav
    > li.mobile-only
    .storename
    .phone,
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse
    ul.navbar-nav
    > li.mobile-only
    .storename
    .phone
    * {
    text-align: left;
    color: #bf1515;
    font-size: 14px;
    font-weight: 600;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse.collapse {
    visibility: visible !important;
  }
  .fl-page-nav-wrap {
    border: none;
  }
}

@media (max-width: 767px) {
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse,
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-collapse
    ul.navbar-nav
    > li {
    border: 0 !important;
  }
  .fl-page-header .fl-page-header-row {
    display: flex;
    align-items: center;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile
    .fl-page-nav-wrap {
    padding-bottom: 0px !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
}

.btn-hover {
  z-index: 99;
}
body .gform_wrapper ul li.gfield {
  margin-top: 0 !important;
}
.uabb-gf-style .gform_wrapper ul.gfield_radio li,
.uabb-gf-style .gform_wrapper ul.gfield_checkbox li,
.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gfield
  .ginput_container_checkbox {
  margin-bottom: 0px !important;
}

.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gfield
  .ginput_container_checkbox {
  margin-top: 0px !important;
}
.gform_wrapper ul.gfield_checkbox {
  margin: 0 !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gform_footer
  input[type="submit"] {
  width: 90% !important;
  margin: 0 5% !important;
}

.facetwp-template .product-grid a.fl-button.getcoupon-btn:hover {
  background: #000 !important;
  border: 1px solid #000;
}
.storename li .phone a:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.ui-datepicker-title {
  color: #000 !important;
}
a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
  background: #000 !important;
  border: 1px solid #000 !important;
}

.footericons .fl-rich-text p {
  margin: 0;
}
.footericons .fl-rich-text ul.social-icons li {
  margin: 0 10px 0 0;
}
.bottom-pager .facetwp-pager {
  text-align: right;
}
.product-colors ul li.found {
  margin-right: 5px;
}

form .chosen-container .chosen-single b {
  display: none !important;
}
.gform_legacy_markup_wrapper
  .chosen-container-single
  .chosen-search
  input[type="text"] {
  background: transparent !important;
}
footer .uabb-cl-style3 a::after {
  background: #bf1515 !important;
}
footer .fl-menu #menu-copyright-bar-menu li a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  pointer-events: none;
  background: #d92f32;
  height: 1px;
}
footer .fl-menu #menu-copyright-bar-menu li a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 375px) {
  button#responsive-menu-button {
    top: 96px !important;
  }
}
@media (max-width: 330px) {
  button#responsive-menu-button {
    top: 92px !important;
  }
}

/* Slider height issue on mobile */
@media (max-width: 992px) {
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 600px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 600px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 600px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 600px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 600px !important;
    max-height: 600px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
}
/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
/* PLP Page Css iPad Air */
@media (max-width: 420px) {
  #rmp_menu_trigger-1134789 {
    top: 95px !important;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right
    .fl-page-nav-col {
    padding: 0px !important;
  }
}
@media (max-width: 370px) {
  .fl-page-header .fl-page-header-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fl-page-header .fl-page-header-row .phone {
    text-align: center !important;
  }
  #rmp_menu_trigger-1134789 {
    top: 120px !important;
  }
}
body.admin-bar button.rmp_menu_trigger {
  margin-top: 32px;
}
